* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 16px;
}
body {
  width: 100vw;
  height: 100vh;
}
.heading {
  color: white;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.menu {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  background-color: #874c62;
  color: white;
  font-size: 1.2rem;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-content: center;
}
.MenuLinks {
  margin-bottom: 0.5rem;
  color: #f2d38b;
}
.container {
  overflow:auto;
  background-color: #874c62;
  flex: 1;
  display: flex;
  height:100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  background-color: #874c62;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  font-size: 1.2rem;
  width: 80vw;
  height: auto;
}
.text,
.text2 {
  color: #f2d38b;
}
.text2 {
  margin-top: 1rem;
}
.navigation {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  justify-content: space-between;
}
.back,
.next {
  display: inline-block;
  margin-top: 1rem;
  color: white;
}
table,
thead,
tbody {
  margin-top: 1rem;
  width: 100%;
}
.shortHead {
  width: 30%;
}
.twenty-three {
  width: 23.33%;
}
.thirty-five {
  width: 35%;
}
table,
th,
td {
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  font-size: 1.2rem;
  padding: 10px 0;
}
.hint,
.number {
  text-align: center;
  border: 2px solid #f2d38b;
  background-color: #874c62;
  color: white;
}
.hint {
  padding: 0.5rem;
}
#score {
  position:fixed;
  top:0;
  left:0;
  background-color: #874c62;
  color: white;
  padding: 0.5rem;
  box-shadow: 3px 3px 3px gray;
  font-size: 1.5rem;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
}
#newScore {
  margin-left: 5px;
}
#x {
  position: Absolute;
  right: 10px;
}
#sounds {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
#sounds div {
  width: 5vw;
  height: auto;
  color: red;
  background-color: blue;
}
#buttonBox {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
#buttonBox button {
  background-color: #874c62;
  color: white;
  border: 1px solid #f2d38b;
  width: 10vw;
  font-size: 1rem;
  padding: 0.5rem;
}
#SearchImageContainer {
  display:flex;
  margin-top:15px;
  width:100vw;
  height:auto;
  padding:10px;
  border:1px solid black;
}
#SearchInputContainer {
  position:fixed;
  background-color: #874c62;
  color: white;
  width:100vw;
  height:auto;
  top:0;
  left:0;
}
#GameContainer {
  background-color: #C98474;
  display:flex;
  align-items: center;
  width:100vw;
  height:100vh;
}
#GameHeader {
  background-color: #874C62;
  color:white;
  position:fixed;
  top:0;
  left:0;
  text-align: center;
  width:100vw;
  height:auto;
  padding:0.5rem;
  font-size: 2rem;
}
#GameX {
  position:fixed;
  right:1rem;
}
#GameButtonBox {
  background-color: #874C62;
  position:fixed;
  width:100vw;
  height:auto;
  left:0;
  bottom:0;
}
#GameButtonBox button {
  background-color: #874C62;
  color:white;
  border:1px solid #F2D38B;
  color:white;
  width:20vw;
  padding:0.6rem;
  font-size: 1.5rem;
}
#GameButtonBox button:hover {
  background-color: #C98474; 
}
#GameButtonBox #GameNext {
  position:fixed;
  right:0;
  bottom:0;
}
#GameImages {
  display:flex;
  align-items: center;
  flex-direction: row;
  width:100vw;
  height:60vh;
}
#GameImageBox {
  overflow:hidden;
  aspect-ratio:1/1;
  width:20vw;
  height:auto;
}
#GameImageBox img {
  aspect-ratio: 1/1;
  width:100%;
  height:auto;
}
.fade {
  opacity:0;
}
#GameMessage {
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
}
#GameMessage div {
  box-shadow: 3px 3px 7px #C98474;
  background-color: #874C62;
  padding:1rem;
  color:#F2D38B;
  font-size: 3rem;
}
.hide {
  display:none;
}
.flexing {
  display:flex;
}