.AppContainer {
    background-color: #C98474;
    overflow:scroll;
    width:100vw;
    height:100vh;
  }
 
  .list {
    display: flex;
    margin-top:18%;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
  }
  .card {
    font-size: 1rem;
    margin:1rem 0;
    padding:1rem 0;
    width:90vw;
    max-width:1020px;
    height:auto;
  }
  .callSign, .imageContainer {
    overflow:hidden;
    padding:0;
    margin:0;
    display:inline-block;
    width:49.6%;
    height:auto;
  }
  .callSign {
    color:white;
    padding:1rem 0;
    background-color: #874C62;
    text-align: center;
    font-size: 2rem;
  }
  .imageContainer {
    float:left;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .imageContainer img {
    aspect-ratio:1/1;
    width:50%;
    height:auto;
  }
  .description {
      height: auto;
      color: white;
      background-color: #F2D38B;
      padding: 1rem 10px;
  }
  .header {
    position:fixed;
    top:0;
    left:0;
    background-color: #874C62;
    box-shadow: 3px 3px 5px gray;
    width:100vw;
    height:auto;
    padding:0.2rem;
  }
  .searchBar {
    text-align: center;
    background-color: #F2D38B;
    color:#874C62;
    font-size: 2rem;
    height:2.5rem;
    display:block;
    margin:auto;
    width:30vw;
  }
  .message {
    background-color: #874C62;
    color:#F2D38B;
    font-size: 1.2rem;
    padding-bottom:1rem;
    text-align: center;
  }
  /*#headingBox {
    z-index:20;
    position:fixed;
    top:0;
    left:0;
    display: block;
    width:100vw;
    height:auto;
    box-shadow: 1px 1px 7px black;
  }*/
  .x {
    position:fixed;
    color:white;
    font-size: 2rem;
    top:0;
    padding-right:1rem;
    right:0;
  }
  
  @media only screen and (orientation: landscape){
    .imageContainer img {
      width:30%;
    }
  }
  .buttonBox {
    z-index:20;
    position:fixed;
    width:100vw;
    bottom:0;
    left:0;
  }
  .buttonBox button {
    background-color: #874C62;
    color:white;
    border:1px solid #F2D38B;
    font-size: 1.5rem;
    padding: 0.5rem;
    width:10vw;
  }
  .buttonBox button:hover {
    background-color: #C98474;
  }